 /* .pageHeader { text-align: center;}




.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.shop { 
    flex-basis: row 20%;
    border: 1px dotted rgb(6, 242, 77);
    padding-right: 5em;
    margin: 0.5em;
    text-align : left
 } */

    




































